#userPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#userPage .dashCategory,
.userBasics {
  width: 900px;
}

#doneIcon {
  width: 70px;
}

.userBasics {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashCategory div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.dashCategoryIcon {
  width: 40px;
}

.userActivity ul {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.assetTitle img {
  width: 30px;
}

.userInfoDetails {
  padding-top: 5px;
  padding-left: 20px;
}

.userSettingsOptions {
  padding-top: 10px;
  padding-left: 20px;
}

.userInfoDetails li,
.userSettingsOptions li {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.17em;
  margin-bottom: 5px;
}

.userInfoDetails li > p:first-child {
  font-weight: bold;
}

.userInfoDetails li img {
  width: 25px;
}

@media only screen and (max-width: 900px) {
  #userPage .dashCategory,
  .userBasics {
    width: 100%;
  }

  #userPage {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .userBasics {
    margin-top: 0px;
  }
}
