.page .dashCategory .dashElementError {
  display: grid;
  place-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.errorMessage {
  display: flex;
  align-items: center;
}

.errorMessage img {
  width: 33px;
}

.errorMessage p {
  color: red;
}
