#contactMain {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh auto;
}

.contactForm {
  display: grid;
  place-content: center;
}

.contactOptions {
  background-color: #eee;
  display: grid;
  place-content: center;
  grid-column: 1/3;
  padding-bottom: 100px;
}

.contactForm form {
  position: relative;
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  width: 560px;
  grid-template-columns: 138px auto;
  padding-bottom: 50px;
}

.contactForm form label {
  place-self: end;
  font-size: 1.3rem;
}

.contactForm form textarea {
  resize: none;
}

.contactForm form button {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#messageLabel {
  align-self: start;
}

.contactLinks {
  display: flex;
  width: 95vw;
  justify-content: space-around;
}

.contactLinks img {
  width: 50px;
}

@media only screen and (max-width: 500px) {
  #contactMain {
    display: block;
    width: 100%;
  }

  .contactForm form {
    width: 90vw;
    grid-template-columns: 1fr;
    row-gap: 7px;
  }

  .contactForm form label {
    margin-top: 15px;
    place-self: start;
  }

  .contactLinks {
    width: 100%;
    flex-direction: column;
    gap: 90px;
  }

  .contactOptions {
    padding-top: 70px;
    width: 100%;
  }
}
