.postManager {
  padding-top: 5px;
}

.postMakerActions {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  justify-content: space-between;
  margin-top: 7px;
}

.writtenButtons {
  display: flex;
  gap: 10px;
}

.postMakerActions button {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px;
  height: 100%;
}

.postMakerActions img {
  width: 30px;
}

.assets .asset .postManager .postManagerContents {
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
}
