#privateLessons {
  background-image: url("https://res.cloudinary.com/drkbr9f2j/image/upload/v1700415038/privateLesson_pnpasn.jpg");
  background-position: center;
}

#privateLessons .serviceIntro {
  background-color: hsla(0, 15%, 81%, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  color: white;
}

#privateLessons .serviceTitle {
  color: white;
}
