.assetTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.assetTitle p {
  font-size: 1.17em;
  font-weight: bold;
}

.asset {
  margin-bottom: 10px;
}

.assets {
  padding-top: 10px;
}

.assets .addAsset {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 1.17em;
  padding: 10px;
  width: 100%;
}

.addAsset img {
  width: 25px;
}

.dashCategory .assets .asset {
  display: block;
}
