#yogaRetreats {
  background-image: url("https://res.cloudinary.com/drkbr9f2j/image/upload/v1700415119/retreat1_i35pkn.jpg");
  background-position: center;
}

#yogaRetreats .serviceIntro {
  background-color: hsla(0, 15%, 81%, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  color: white;
}

#yogaRetreats .serviceTitle {
  color: white;
}
