#soundBaths {
  background-image: url("https://res.cloudinary.com/drkbr9f2j/image/upload/v1700415230/soundBath1_zk9g7p.jpg");
  background-position: center;
}

#soundBaths .serviceIntro {
  background-color: hsla(0, 15%, 81%, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  color: white;
}

#soundBaths .serviceTitle {
  color: white;
}
