.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #8fbabf;
  display: grid;
  place-content: center;
  z-index: 4;
}

.loadingIcon {
  width: 40px;
  rotate: 3;
  animation: spin 2s linear infinite;
}

.successIcon,
.errorIcon {
  width: 50px;
}

.doneIcon {
  width: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading,
.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.loading p {
  font-size: 1.2rem;
}

.success {
  padding-left: 10px;
  padding-right: 10px;
}

.success p {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
