* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

li {
  list-style-type: none;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 53.3%, 0.4);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8fbc8f;
}

:root {
  font-family: "Open Sans";
}

.page {
  margin-top: 50px;
  padding-bottom: 50px;
  min-height: calc(100vh - 50px);
}

.pageContent {
  height: calc(100vh - 50px);
}

@media only screen and (max-width: 500px) {
  .page {
    margin-top: 0px;
  }
}
