.assetList {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.assetsListElement {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.assetList .assetsListElement .basics {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.postBasicsTitle p,
.eventBasicsName p {
  font-weight: bold;
}

.postBasicsDate p {
  font-size: 0.8em;
}

.assetMore {
  display: grid;
  grid-template-columns: auto auto;
}

.assetInfo,
.assetActions {
  display: grid;
  place-content: center;
}

.assetActions {
  padding-left: 20px;
  padding-right: 7px;
  display: flex;
  gap: 13px;
}

.assetInfo {
  min-width: 80px;
}

.assetActionDelete img {
  width: 22px;
}

.assetActionEdit img {
  width: 26px;
}

.assetActionDraft img {
  width: 22px;
}

.assetActionPublish img {
  width: 22px;
}

.assetBasicsImg {
  display: grid;
  place-content: center;
  min-height: 195px;
  min-width: 195px;
}

.assetBasicsImg img {
  max-width: 195px;
  max-height: 195px;
}

.assetBasicsInfo > p:first-child {
  font-weight: bold;
}

.assetBasicsInfo > p:nth-child(4) {
  font-size: 0.85rem;
}

@media only screen and (max-width: 899px) {
  #item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  }

  #item .assetsListElement {
    display: grid;
    place-content: center;
    position: relative;
  }

  #item .assetMore {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #item .assetInfo {
    position: absolute;
    top: 3px;
    padding-left: 3px;
    place-content: start;
    font-weight: bold;
  }

  #item .assetBasicsInfo {
    min-height: 85px;
    padding-left: 2px;
  }

  #item .assetActions {
    padding-left: 7px;
    padding-right: 7px;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 900px) {
  .assetActions {
    padding-left: 180px;
  }

  #assetItem {
    display: flex;
    gap: 5px;
  }

  .assetBasicsInfo {
    display: grid;
    place-content: center;
  }

  .assetBasicsInfo > p:first-child {
    font-size: 1.2rem;
  }
}
