.assetList {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.assetsListElement {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
}

.assetList .assetsListElement .basics {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.assetBasics {
  white-space: nowrap;
  overflow: hidden;
}

.postBasicsTitle p,
.eventBasicsName p {
  font-weight: bold;
}

.postBasicsDate p {
  font-size: 0.8em;
}

.assetMore {
  display: grid;
  grid-template-columns: auto auto;
}

.assetInfo,
.assetActions {
  display: grid;
  place-content: center;
}

.assetActions {
  padding-left: 20px;
  padding-right: 7px;
  display: flex;
  gap: 13px;
}

.assetInfo {
  min-width: 80px;
}

.assetActionDelete img {
  width: 22px;
}

.assetActionEdit img {
  width: 26px;
}

.assetActionDraft img {
  width: 22px;
}

.assetActionPublish img {
  width: 22px;
}

@media only screen and (min-width: 900px) {
  .assetActions {
    padding-left: 180px;
  }
}
