.appInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.appInfo img {
  width: 80px;
}

.appInfo #infoLoadingIcon {
  width: 45px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.appInfo p {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

.appInfo #infoErrorMessage {
  color: rgb(237, 61, 61);
}
