#yogaWorkshops {
  background-image: url("../../../../images/yogaWorkshops.jpg");
  background-position: center;
}

#yogaWorkshops .serviceIntro {
  background-color: hsla(0, 15%, 81%, 0.2);
  border-radius: 5px;
  backdrop-filter: blur(10px);
  color: white;
}

#yogaWorkshops .serviceTitle {
  color: white;
}
