#about {
  display: grid;
  place-content: center;
}

.mainAbout {
  display: grid;
  grid-template-columns: auto auto;
}

.mainPicture img {
  width: 300px;
  display: block;
}

.mainDescription {
  background-color: grey;
  display: grid;
  place-content: center;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

.mainDescription p {
  font-size: 1.4rem;
  color: white;
  margin-bottom: 25px;
  text-align: justify;
}

.mainDescription img {
  width: 70px;
  position: absolute;
  bottom: 20px;
  right: 250px;
}

@media only screen and (max-width: 500px) {
  .mainAbout {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mainAbout .mainPicture {
    align-self: center;
  }

  .mainAbout .mainPicture img {
    border-radius: 100px;
  }

  .mainDescription {
    padding-bottom: 70px;
  }

  .mainDescription img {
    right: 50px;
  }
}
